@font-face {
    font-family: Monocraft;
    src: url(./Monocraft.woff);
}

html {
    scroll-behavior: smooth;
    font-family: Monocraft;
    background-color: white;
}

.logo {
    position: absolute;
    scale: 75%;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.heading {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.subtitle {
    padding-left: 300px;
    padding-top: 70px;
    color: white;
}

.backimg {
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height: 215px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text {
    background-color: white;
    text-align: center;
}

.text1 {
    background-color: white;

}

td {
    padding: 10px;
}

.table {
    background-color: white;
    text-align: center;

}

table {
    border-collapse: collapse;

}

td,th {
    border: 1px solid gray;
}

.backtop {
    scale: 0.15;
    z-index: 1;
    position: fixed;
    bottom: -200px;
    right: -200px;
    background-color: lightgray;
    border-radius: 50px;
}